<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
		 xmlns:flex="http://www.springframework.org/schema/flex"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		   http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.0.xsd">




<bean id="webSocketServer" class="com.pxb.core.server.SocketServer" destroy-method="stop">

		
<!--默认是false,设置成true,表示每个请求（相应）都立即发送，这样在服务器压力不大的情况下，可以加快相应速度，但是增大的网络IO-->
		<property name="tcpNoDelay" value="true"/>

		<property name="handler">
				<bean class="com.pxb.core.coder.WebSocketHandler">
				</bean>
		</property>
		<property name="codecFactory">
					<bean class="com.pxb.core.coder.WebSocketCodecFactory">
					</bean>
		</property>	
</bean>








  
   

    

	
</beans>

